@font-face {
    font-family: 'handwritten-font';
    src: url('public/Gemmo.ttf');
}

* {
  box-sizing: border-box;
  font-family: 'handwritten-font';
  font-size: 25px;
  line-height: 120%;
}

body {
  margin: 60px;
  background-image: url('public/desk_effect.jpg');
  background-repeat: repeat;
}

#inner {
  border: 1px solid black;
  width: 30em;
  min-height: 42.3em;
  margin: auto;
  background-color: #fff;
  background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

  #header {
    height: 3em;
    margin-bottom: 1.8em;
    position: relative;
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px);
    background-size: 100% 1.2em;
  }

    #header-text {
      position: absolute;
      margin-left: 40px;
      left: 50%;
      transform: translateX(-50%);
      top: 75%;
      text-align: center;
      font-size: 40px;
    }

  #page {
    margin-top: 15px;
    margin-left: 80px;
    margin-right: 50px;
    line-height: 120%;
  }

  #new-note-box {
    padding-bottom: 2em;
  }

    #text-box {
      width: 100%;
      height: 4.85em;
      padding-left: 0.75em;
      padding-top: 0.25em;
      background-color: inherit;
    }

    #create-button {
      float: right;
      font-family: sans-serif;
      font-size: 15px;
    }

  #list {
    padding-top: 0.25em;
  }

    p {
      margin: 0px;
      margin-bottom: 1.2em;
      padding-left: 0.75em;
    }
